.testimonial-section{
    max-width: 1440px;
    padding-top: 96px;
    padding-bottom: 96px;
    gap: 64px;
    background-color: #F9FAFB;
}
.testimonial-content{
    max-width: 1216px;
    gap: 40px;
}
.quote-and-attribute{
    max-width: 1216px;
    gap: 32px;
}
.fictional-company-logo{
    max-width: 140.83px;
}
.fw-500{
    font-weight: 500;
}
.fs-48{
    font-size: 3rem;
}
.lh-60{
    line-height: 60px;
}
.avtar-and-text{
    max-width: 1216px;
    gap: 16px;
}
.avatar{
    max-width: 64px;
}
.text-and-support{
    max-width: 1216px;
    gap: 4px;
}
@media(max-width:768px){
    .fs-48{
        font-size: 2rem;
    }
    .lh-60{
        line-height: 38px;
    }
}